{#
/**
 * @file
 * Default theme implementation for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 *
 * @ingroup themeable
 */
#}
{% if is_front %}
<div itemscope itemtype="https://schema.org/WebSite">
  <meta itemprop="url" content="{{ url('<front>')|render|trim('enfr','right') }}" />
  <form {{ attributes }} itemprop="potentialAction" itemscope itemtype="https://schema.org/SearchAction">
    <meta itemprop="target" content="{{ element.url['#attributes'].value }}{query}"/>
    <div class="input-group">
      {{ children }}
    </div>
  </form>
</div>
{% else %}
<form{{ attributes }}>
  <div class="input-group">
    {{ children }}
  </div>
</form>
{% endif %}
