<section {{ attributes.setAttribute('id', 'wb-srch').addClass('block', 'clearfix', 'col-xs-6', 'text-right', 'visible-md', 'visible-lg') }}>
    {{ title_prefix }}
    {% if label %}
        <h2{{ title_attributes.addClass('block-title') }}>{{ label }}</h2>
    {% endif %}
    {{ title_suffix }}

    {% block content %}
        {{ content }}
    {% endblock %}
</section>